body{
    background-color: rgb(230, 219, 208);
}
.main{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gaegu', cursive;
    
}
.page{
    text-align: center;
}
.page button{
    width: 300px;
    height: 40px;
    font-size: 20px;
    background-color: linen;
    border-radius: 15px;
    border: 1px solid rgb(230, 219, 208);
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gaegu', cursive;
    cursor:pointer;
    margin-top: 20px;
}
.page h1{
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gaegu', cursive;
}
input .id{
    text-align: center;
}
input[type="text"]{
    border-radius: 1px solid gray;
    width: 200px;
    height: 20px;
    outline: 0;
    border: none;
    font-size: 20px;
    background: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gaegu', cursive;
    margin-top: 10px;
    margin-left: 16px;

    
}
input[type="password"]{
    border-radius: 1px solid gray;
    width: 200px;
    height: 20px;
    outline: 0;
    border: none;
    font-size: 20px;
    background: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gaegu', cursive;
    margin-top: 10px;
    
}
.main label{
    font-size: 20px;
    margin-left: 20px;

}

button{
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: linen;
    border-radius: 15px;
    border: 1px solid rgb(230, 219, 208);
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gaegu', cursive;
    cursor:pointer;
    margin-bottom: 20px;
    
}
.page{
    background-color: rgb(249, 245, 157);
    height: 300px;
    border-radius: 15px;
    width: 350px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
li{
    border-top: 1px solid black;
}
#clear{
    float: right;
    text-align: right;
    color: rgb(61, 56, 56);
    font-size: 25px;
    border-radius: 10px;
    background-color: linen;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gaegu', cursive;
    cursor:pointer;

  }
  .del{
    background-color: linen;
    text-align: center;
    padding: 0px 4px 0px 4px;
    color: rgb(78, 66, 66);
    cursor: pointer;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gaegu', cursive;
}
.log{
    text-align: center;
}
.btn button{
    width: 140px;
    height: 40px;
    font-size: 20px;
    background-color: linen;
    border-radius: 15px;
    border: 1px solid rgb(230, 219, 208);
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gaegu', cursive;
    cursor:pointer;
    margin-top: 20px;
    
}
.btn{
    text-align: center;
}
button{
    text-align: center;
}